<html>
<head>
    <title>Game time!</title>
</head>
<body>
    <h1>Let's play MadLibs!</h1>
    <form action="/madlib">
        Select a person:
        <select name="person">
            <option value="George Bush">a president</option>
            <option value="Oprah">a talk show host</option>
            <option value="Beyonce">a queen bee</option>
        </select><br>

        Select a color:
        <select name="color">
            <option value="blue">democratic color</option>
            <option value="puce">puke</option>
            <option value="yellow">pus</option>
        </select><br>

        Select a noun:
        <select name="noun">
            <option value="San Francisco">San Francisco</option>
            <option value="cat">cat</option>
            <option value="fire truck">vehicle</option>
        </select><br>

        Select an adjective:
        <select name="adjective">
            <option value="magnificent">your mom is...</option>
            <option value="hairy">your back</option>
            <option value="pretty">Gal Gadot</option>
        </select><br>
        <input type="submit" value="MadLib This!">
    </form>
</body>
</html>